.cantainer{
    flex: 2;
     /* width: 25%; */
    margin-top: 60px;
}

.subtitle{
    color: gray;
    font-size: 16px;
    font-weight: 400;
}

.title{
    font-size: 28px;
}

.category{
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 12px;
    /* color: white; */
    background-color: red;
    width: max-content;
}

.items{
margin-top: 35px;
margin-bottom: 45px;
display: flex;
flex-direction: column;
gap: 35px;
}

.item{
display: flex;
align-items: center;
gap:20px;
}

.imageContainer{
    flex:1;
    aspect-ratio: 1/1;
    position: relative;
}

.image{
    border-radius: 50%;
    border: 3px solid lightgray;
    object-fit: cover;
}

.textContainer{
    flex:4;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.postTitle{
    font-size: 18px;
    font-weight: 500;
    color: var(--softTextColor);
}

.detail{
    font-size: 12px;
}
.dates{
    color: gray;
}

.category.travel{
    background-color: #ff7857;
}
.culture{
    background-color: #ffb14f;
}
.food{
    background-color: #7fb881;
}
.fashion{
    background-color: #ff7887;
}
.coding{
    background-color: #775aec;
}
.style{
    background-color: #789cff;
}
